/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(5, 95%, 58%);
  --first-color-alt: hsl(5, 90%, 50%);
  --title-color: hsl(5, 15%, 15%);
  --text-color: hsl(5, 8%, 35%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(5, 100%, 98%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: rgb(239, 246, 252);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.container__title {
  font-size: var(--h1-font-size);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.card__container {
  justify-content: center;
  gap: 2rem;
  display: flex;
}

.card__product {
  background-color: rgb(167, 211, 252);
  text-align: center;
  cursor: pointer;
  padding: 0 80px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
.card__product:hover {
  background-color: rgb(143, 201, 255);
  text-shadow: 1px 1px 10px #fff;
}

.card__name {
  color: #fff;
  margin-bottom: .5rem;
  font-size: 36px;
}


/*=============== POPUP MODAL ===============*/
.modal {
  position: fixed;
  inset: 0;
  background-color: hsla(5, 90%, 4%, .2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(24px);
  display: grid;
  place-items: center;
  padding: 2rem 1.5rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: var(--z-modal);
  transition: opacity .4s, visibility .4s;
}

.modal__card {
  position: relative;
  background-color: #fff;
  padding: 30px;
  min-width: 500px;
  min-height: 600px;
  display: grid;
  row-gap: 1.5rem;
  text-align: center;
  transition: transform .6s;
  border-radius: 30px;
}

.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.modal__name {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: 36px;
}

.modal__info {
  margin-bottom: 1rem;
}

.modal__input {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 32px;
}
.modal__input label{
  margin-bottom: 3px;
}
.modal__input input{
  padding: 10px;
  font-size: 22px;
}
.modal__input input::placeholder{
  font-size: 22px;
}
.modal__input input.input-comm {
  height: fit-content;
}
.modal__input input.input-comm::placeholder {
  font-size: 16px;
  color: #000;
}
.modal__input input:focus{
  outline: 1px solid green;
  box-shadow: 0 0 10px rgba(137, 255, 137, 0.719);
}

.modal__price {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.modal__buttons {
  display: flex;
  gap: .5rem;
  align-items: center;

}

.modal__button {
  flex-grow: 1;
  outline: none;
  border: none;
  background: linear-gradient(rgb(162, 0, 255), rgb(66, 0, 128));
  padding: 20px 10px;
  color: rgb(255, 255, 255);
  font: var(--font-semi-bold) var(--normal-font-size) var(--body-font);
  cursor: pointer;
  transition: background-color .4s;
  margin-bottom: 30px;
  border-radius: 15px;
}
.radio-btn {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}
.radio {
  display: flex;
  align-items: center;
}

.modal__button-ghost {
  background-color: #fff;
  color: green;
  border: 1px solid green;
}
a {
  color: #000000d5;
  text-decoration: none;
}
.modal__button-ghost:hover {
  background-color: #dddddd;
}
.modal__card i {
  margin-top: 20px;
  font-size: 36px;
  margin-left: 5px;
}
/* Active modal */
.active-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.active-modal .modal__card {
  transform: rotateX(0);
}
.comm {
  background: #fff;
  padding: 10px;
  border: 1px solid #999;
  margin-top: 15px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }

  .modal {
    padding-inline: 1rem;
  }
  .modal__buttons {
    flex-direction: column;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .card__container {
    grid-template-columns: 330px;
  }

  .modal__card {
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 330px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container__title {
    margin-bottom: 4.5rem;
  }

  .card__container {
    grid-template-columns: repeat(3, 330px);
    gap: 3rem;
  }
  .card__product {
    padding-block: 2rem;
    border-width: 6px;
  }


  .modal__card {
    max-width: 376px;
    padding: 3rem 2.5rem 2.5rem;
  }
  .modal__img {
    width: 250px;
  }
  .modal__name, 
  .modal__price {
    font-size: var(--h3-font-size);
  }
  .modal__buttons {
    column-gap: 1rem;
  }
}



.modal__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.modal__tab {
  background: transparent;
  border: none;
  border: 1px solid transparent;
  border-radius: 20px;
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  max-height: 60px;
  background-color: #eee;
}


.modal__tab.active {
  border-color: rgb(175, 2, 255);
  background-color: #fff;
}

/* Скрываем все формы, кроме активной */
.modal__form {
  display: none;
}

.modal__form.modal__form--active {
  display: block;
}
